:host {
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

.bg-white {
  background-color: white;
  width: 448px;
  justify-content: center !important;
}
