@import "_colors";

:host {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 6px 32px 5px;
	box-shadow: 0 2px 4px 2px rgb(107 107 107 / 10%), 0 4px 6px 4px rgb(68 68 68 / 10%);
	height: 52px;
	max-height: 52px;
	overflow: hidden;

	.navbar {
		width: 100vw;
		height: 64px;
	}

	.not-member {
		font-size: 17px;
		line-height: 24px;
		color: $gray-60;
	}

	.right {
		width: 315px;
		align-items: center;
		justify-content: flex-end;
	}

	.logo {
		width: 315px;
		align-items: flex-start;
	}
}
