<main>
    <div><a class="link-primary" routerLink="../">Back</a></div>
    <h1>Restore password</h1>
    <form (ngSubmit)="reset()">
        <div>
            <label class="form-label" for="new-email">Email</label>
            <input [formControl]="email" class="form-control form-control-lg" id="new-email"
                   placeholder="Enter your email here"
                   required type="text">
        </div>
        <div class="d-grid gap-2">
            <button [disabled]="email.invalid || email.untouched" class="btn btn-primary" type="submit">Reset
            </button>
        </div>
    </form>
</main>
