<h1>Restore password</h1>
<form (ngSubmit)="reset()" [formGroup]="form">
    <div>
        <label class="form-label" for="new-email">Email</label>
        <input class="form-control form-control-lg" formControlName="email" id="new-email"
               placeholder="Enter your email here"
               required type="text">
    </div>
    <div class="d-grid pt-4">
        <button [disabled]="form.invalid" class="btn btn-primary" type="submit">
            Reset
        </button>
    </div>
</form>
