@import '_colors';

:host {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 1;
  height: 100%;
}

fieldset {
  border-radius: 8px;
  border: 2px solid $blue-10;
  padding: 12px;

  .text-field {
    font-weight: 600;
    font-size: 18px;
    line-height: 28px;
    color: $gray-80;
  }
}
