<div *ngIf="(data$|async) as data" class="flex col" style="gap: 16px">
	<div class="flex j-c-sb a-i-c">
		<h4>Booking details</h4>

		<cw-small-button
			[buttonText]="'Edit'"
			[icon]="'edit'"
			[inverted]="true"
			routerLink="edit"
		></cw-small-button>
	</div>
	<fieldset>
		<div>
			<label class="form-label">Title</label>
			<div class="text-field">{{data.title}}</div>
		</div>
		<div class="flex col mt-16">
			<label class="form-label">Booking ID</label>
			<div class="text-field">{{data.bookingToken}}</div>
		</div>
		<div class="flex col mt-16">
			<label class="form-label">Timezone</label>
			<div class="text-field">
				{{data.bookingTimeZone | region}},
				{{data.bookingTimeZone | city}}
				{{data.bookingTimeZone | timezone}}
			</div>
		</div>
	</fieldset>

	<fieldset>
		<div>
			<label class="form-label">Audio details</label>
			<div class="text-field">{{data.audioDetails}}</div>
		</div>
		<div class="flex col mt-16">
			<label class="form-label">Caption details</label>
			<div class="text-field">{{data.captionDispDetails}}</div>
		</div>
		<div class="flex row gap mt-16">
			<div *ngIf="data.bookingPasscode && data.requirePasscode">
				<div class="flex col">
					<label class="form-label">Booking passcode</label>
					<div class="text-field">{{data.bookingPasscode}}</div>
				</div>
			</div>
			<ng-container *ngIf="data.viewerEmails">
				<ng-container *ngIf="data.viewerEmails.split('\n').length > 0">
					<div class="flex col">
						<label class="form-label">Number of authorized viewers:</label>
						<div class="text-field">{{data.viewerEmails.split('\n').length}}</div>
					</div>
				</ng-container>
			</ng-container>
		</div>
		<div class="flex col mt-16">
			<label class="form-label">Captioner passcode</label>
			<div class="text-field">{{data.bookingCaptionerPasscode}}</div>
		</div>
		<ng-container *ngIf="data.requirePasscode">
                <span class="flex row gap a-i-c text-field mt-16" style="gap: 12px">
                    <cw-svg-icon svg="checked"></cw-svg-icon>
                    Authorised viewers only
                </span>
		</ng-container>
		<ng-container *ngIf="data.requireLogin">
                <span class="flex row a-i-c text-field mt-16" style="gap: 12px">
                    <cw-svg-icon svg="checked"></cw-svg-icon>
                    Require Captionworks login
                </span>
		</ng-container>
	</fieldset>

	<div>
		<span class="share-label">Share viewing details</span>
		<cwb-share-booking-link [booking]="data"></cwb-share-booking-link>
	</div>
</div>
