.form-label {
  margin-bottom: 0;
}

.share-label {
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  color: #9E9E9E;
}

.parameter {
  font-weight: 600;
  font-size: 18px;
  line-height: 28px;
  color: #3F3F3F;
}
