@import 'colors-10';

fieldset {
  border-radius: 8px;
  border: 1px solid $blue-20;
  padding: 12px;
}

.form-label {
  margin-bottom: 0;
}

.share-label {
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  color: $gray-50;
}

.parameter {
  font-weight: 600;
  font-size: 18px;
  line-height: 28px;
  color: $gray-80;
}
