.header {
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
	width: 100%;
	padding: 12px 12px 0;
	
	.close {
		cursor: pointer;
	}
}

::ng-deep {
	.billing-view {
		.card-body {
			margin-bottom: 24px;
		}
	}
}
