<div>
	<div class="header">
		<h1>Billing details</h1>
		<div (click)="close()" class="close">
			<svg width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
				<path d="M13.5 26.5L19.5 20.5M19.5 20.5L13.5 14.5M19.5 20.5L25.5 14.5M19.5 20.5L25.5 26.5" stroke="#FF4A26" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
			</svg>
		</div>
	</div>
	<cwb-card class="main mt-4">
		<table *ngIf="(billing$ | async) as billing">
			<thead>
			<tr class="table-light">
				<th>Billing Results ID</th>
				<th>Session ID</th>
				<th>Booked Duration (mins)</th>
				<th>Billed Duration (mins)</th>
				<th>Rate</th>
				<th>Session Bill</th>
			</tr>
			</thead>
			<tbody *ngIf="billing.length">
			<tr *ngFor="let detail of billing">
				<td>{{detail.billingDetailsId}}</td>
				<td>{{detail.sessionId}}</td>
				<td>{{detail.bookedDuration}}</td>
				<td>{{detail.billedDuration}}</td>
				<td>{{detail.rate}}</td>
				<td>{{detail.sessionBill | currency: 'USD'}}</td>
			</tr>
			</tbody>
		</table>
	</cwb-card>
</div>
