@import "colors-10";

.form-inline {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    flex-wrap: wrap;

    .text-danger {
      width: 100%;
    }
  }

  .form-inline label {
    margin: 5px 10px 5px 0;
  }

  .form-inline input {
    vertical-align: middle;
    margin: 5px 10px 5px 0;
    padding: 10px;
    background-color: #fff;
    border: 1px solid #ddd;
  }

.minus-button {
  width: 40px;
  margin-left: 10px;
  background-color:#fff;
  border-radius: 5px;
  border-color: $blue-10;
  border-width: 1px;
  padding-left: 15px;
  display: inline-flex !important;
  align-items: center !important; 
}

.plus-button {
  width: 40px;
  margin-right: 10px;
  background-color: $white;
  border-radius: 5px;
  border-color: $blue-10;
  border-width: 1px;
  padding-left: 15px;
  display: inline-flex !important;
  align-items: center !important; 
}

::ng-deep input[type=text] {
  height: 45px !important;
}

::ng-deep button {
  height: 45px !important;
  display: inline-flex !important;
  align-items: center !important; 
}

 ::ng-deep .ngb-tp-input {
      height: 26pt !important;
      vertical-align: middle;
  }

  ::ng-deep .ngb-tp-meridian{
      height: 26px !important;
      vertical-align: middle;
  }


.overrun-check {
  align-items: center;

  * {
    margin: 0;
  }

  label {
    padding: 0 0 0 16px;
    color: $gray-80;
    line-height: 48px;
    font-size: 20px;
    font-weight: normal;
  }  
}
