@import "_colors";
@import "scrollbars";

:host {
  display: flex;
  height: 100%;
  width: 100%;
  flex-direction: column;
}

.title {
  font-weight: 600;
  font-size: 24px;
  line-height: 36px;
  color: $gray-90;
  margin: 0;
}

.booking-id {
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  color: $gray-70;
}


.info {
  @include scrollbars(4px, $gray-40);
  gap: 16px;
  height: 100%;
  display: flex;
  overflow-y: scroll;

  .left {
    flex: 35%;
    border: 2px solid $blue-50;
  }

  .right {
    flex: 65%;
  }
}
