<a routerLink="/bookings">Back</a>
<ng-container
        *ngTemplateOutlet="asyncTemplate;context:{ booking:booking$ | async }">
</ng-container>
<ng-template #asyncTemplate let-booking="booking">
    <div *ngIf="booking;else empty">
        <div style="display: flex; flex-direction: row">
            <div>
                <h2>Booking</h2>

                <router-outlet></router-outlet>
            </div>
            <div>
                <h2>Sessions</h2>
                <ul>
                    <li *ngFor="let session of booking.sessions">
                        {{session | json}}
                    </li>
                </ul>
            </div>
        </div>
    </div>
</ng-template>

<ng-template #empty>
    <div>No booking with this identifier exists</div>
</ng-template>
