<div class="body">
	<h2>Password reset</h2>
	<div class="body-text">
		Enter your email, and we’ll send you instructions on how to reset your password
	</div>

	<form (ngSubmit)="reset()" [formGroup]="form">
		<div>
			<label for="new-email">Email</label>
			<input
				id="new-email"
				formControlName="email"
				placeholder="Enter your email here"
				required
				type="text"
			/>
		</div>
		<button
			[disabled]="form.invalid"
			class="btn pointer"
			type="submit"
		>
			Send
		</button>
	</form>
</div>
