a {
	font-weight: 600;
	font-size: 17px;
	line-height: 24px;
	color: #2A6ED4;
	margin-left: 4px;
}

.body {
	width: 448px;

	.body-text {
		margin-bottom: 40px;
	}

	input {
		margin-bottom: 28px;
		width: calc(100% - 34px);
	}

	.btn {
		border: none;
		font-weight: 600;
		font-size: 17px;
		line-height: 24px;
		text-align: center;
		color: #FFFFFF;
		padding: 16px;
		width: 448px;
		height: 56px;
		background: #2A6ED4;
		box-shadow: 0 6px 10px -6px rgba(58, 142, 247, 0.08), 0px 10px 28px -4px rgba(58, 142, 247, 0.06);
		border-radius: 8px;
		margin: 8px 0;
	}
}
