<div *ngIf="regions$ | async as regions" class="d-flex con">
    <div class="d-flex flex-column w-100" style="margin-right: 10px;">
        <label class="form-label" for="region">Select time zone/country</label>
        <select *ngIf="regions.length" [formControl]="region" class="form-select form-select-lg"
                id="region">
            <option *ngIf="!required"></option>
            <option *ngFor="let region of regions" [value]="region.regionId">{{region.region}}</option>
        </select></div>
    <div class="d-flex flex-column w-100">
        <label class="form-label" for="city">Select time zone/city</label>
        <select *ngIf="cities$ | async as cities" [formControl]="city" class="form-select form-select-lg" id="city">
            <option *ngIf="!required"></option>
            <option *ngFor="let city of cities" [value]="city">{{city}}</option>
        </select>
    </div>

</div>
