<div *ngIf="regions$ | async as regions" class="flex row gap w-100">
	<div class="w-100 flex col">
		<label for="region">Country</label>
		<ng-select
			[clearable]="false"
			[formControl]="region"
			[items]="regions"
			[notFoundText]="'Loading regions...'"
			[placeholder]="'Region'"
			(change)="pickedCountry($event)"
			bindLabel="region"
			[appendTo]="'body'"
			class="select region"
			id="region"
		></ng-select>
	</div>

	<div class="w-100 flex col" *ngIf="cities">
		<label for="city">City</label>
		<ng-select
			[clearable]="false"
			[formControl]="city"
			[items]="cities"
			(input)="registerOnChange($event)"
			(change)="pickedCity($event)"
			[appendTo]="'body'"
			class="select city"
			id="city"
			placeholder="City"
		></ng-select>
	</div>
</div>
