<table *ngIf="data">
    <thead>
    <tr class="table-light">
        <th>Name</th>
        <th>Email</th>
        <th>Role</th>
        <th>&nbsp;</th>
    </tr>
    </thead>

    <tbody *ngIf="data.length;else empty">
    <tr *ngFor="let user of data">
        <td>{{user.firstName}} {{user.lastName}}</td>
        <td>{{user.email}}</td>
        <td>{{user | role}}</td>
        <td>
            <button [routerLink]="''+user.userId" class="btn">
                <cwb-icon name="pencil"></cwb-icon>
            </button>
        </td>
    </tr>
    </tbody>

</table>
<ng-template #empty>
    <tr>
        <td class="text-center" colspan="5" style="padding:48px;">
            <div>
                You have no bookings yet. Click on "Add new booking" to make your first booking.
            </div>
            <a class="link-primary" routerLink="create">Add new booking</a>
        </td>
    </tr>
</ng-template>
