
@import 'colors-10';

form {
    & > div {
        padding-bottom: 16px; 
    }

    .timezone {
        margin-top: 4px;
    }

    .d-flex {
        justify-content: flex-start;
        gap: 16px;

        div {
            flex: 1 1 0;
        }
    }

    .text-center {
        display: flex;
        padding: 0;
        padding-top: 0px;

        div {
            text-align: left;
            flex: 1 1 auto;
            line-height: 82px;
        }

        button {
            flex: 2 1 30%;
            background: none;
            border: none;
            padding: 0;
            text-align: left;
            color: $blue-50;
            text-decoration: underline;
        }
    }

    .row {
        .text-right  {
            padding: 0;
            display: flex;
            padding-top: 18px;
            justify-content: flex-end;
        }
    }
}
