<ng-container *ngIf="showCreditCardForm; else showUserInfoForm">
	<h2>Payment settings</h2>
	<cwb-payment></cwb-payment>
</ng-container>

<ng-template #showUserInfoForm>
	<h2>General settings</h2>
	<form (ngSubmit)="save()" [formGroup]="form">
		<div class="flex row j-c-sb">
			<cw-input
				formControlName="firstName"
				inputLabel="First name"
				inputPlaceholder="Enter your first name"
			></cw-input>
			<cw-input
				formControlName="lastName"
				inputLabel="Last name"
				inputPlaceholder="Enter your last name"
			></cw-input>
		</div>

		<cw-input
			formControlName="email"
			inputLabel="Email"
			inputPlaceholder="Enter your email here"
		></cw-input>

		<cwb-timezone-selector formControlName="timeZone"></cwb-timezone-selector>

		<div class="flex row j-c-fe">
			<cw-small-button
	      class="mt-16"
				(click)="save()"
				[buttonDisabled]="form.invalid || form.untouched"
				buttonText="Save"
			></cw-small-button>
		</div>

		<hr/>

		<div class="flex col j-c-c gap a-i-fe">
			<ng-container *ngIf="paymentMethodComplete === 1; else notComplete">
        <span>You have a payment method saved with CaptionWorks.</span>
			</ng-container>

			<ng-template #notComplete>
        <span>You don't have a payment method set up yet.</span>
			</ng-template>

      <cw-small-button
        (click)="showPaymentSettingForm()"
        buttonText="Update payment method"
      ></cw-small-button>
		</div>
	</form>
</ng-template>
