<ng-container *ngIf="showCreditCardForm; else showUserInfoForm">
	<a (click)="toggleCreditCardForm()" class="flex row a-i-c pointer">
		<cw-svg-icon svg="chevron-left"></cw-svg-icon>
		<span>Back</span>
	</a>
	<h2>Payment settings</h2>
	<cwb-payment></cwb-payment>
</ng-container>

<ng-template #showUserInfoForm>
	<form [formGroup]="form">
		<div class="flex row w-100 gap-16">
			<cw-input
				class="flex-1"
				formControlName="firstName"
				inputLabel="First Name"
				inputPlaceholder="Enter your first name"
				inputType="text"
			></cw-input>
			<cw-input
				class="flex-1"
				formControlName="lastName"
				inputLabel="Last name"
				inputPlaceholder="Enter your last name"
				inputType="text"
			></cw-input>
		</div>

		<cw-input
			formControlName="email"
			inputLabel="Email"
			inputPlaceholder="Enter your email here"
			inputType="text"
		></cw-input>

		<cwb-timezone-selector formControlName="timeZone"></cwb-timezone-selector>

		<cw-small-button
			(click)="save()"
			[buttonDisabled]="form.invalid || form.untouched"
			buttonText="Save"
			class="flex mt-16 j-c-fe"
		></cw-small-button>

	</form>

	<hr/>

	<div class="flex col a-i-fe">
		<ng-container *ngIf="userSettings.paymentMethodComplete; else notComplete">
			<div>
				You have a payment method saved with CaptionWorks.
			</div>
		</ng-container>
		<ng-template #notComplete>
			<div>
				You don't have a payment method set up yet.
			</div>
		</ng-template>
		<cw-small-button
			(click)="showPaymentSettingForm()"
			buttonText="Update payment method"
			class="flex mt-16"
		></cw-small-button>
	</div>
</ng-template>
