<form (ngSubmit)="login()" [formGroup]="form">
    <div>
        <label class="form-label" for="email">Email</label>
        <input class="form-control" formControlName="email" id="email" placeholder="Enter email here"
               required type="text">
    </div>
    <div class="pt-3">
        <label class="form-label" for="password">Password</label>
        <input class="form-control" formControlName="password" id="password"
               placeholder="Your password here" required type="password">
    </div>
    <div class="d-grid pt-4">
        <button class="btn btn-primary" type="submit">Login</button>
    </div>

</form>
