<ng-container
        *ngTemplateOutlet="asyncTemplate; context:{
            isValid: isTokenValid$ | async,
            isAuthorized: isAuthorized | async
        }">
</ng-container>
<ng-template #asyncTemplate let-isAuthorized="isAuthorized" let-isValid="isValid">
    <ng-container *ngIf="!isAuthorized; else already_authorized">
        <ng-container *ngIf="isValid; else invalidToken">
            <h1>Set new password</h1>
            <form (ngSubmit)="change()" [formGroup]="form">
                <div>
                    <label class="form-label" for="new-password">Password</label>
                    <input class="form-control form-control-lg" formControlName="password" id="new-password"
                           placeholder="Enter the password" required type="password">
                </div>
                <div>
                    <label class="form-label" for="new-password2">Repeat password</label>
                    <input class="form-control form-control-lg" formControlName="password2" id="new-password2"
                           placeholder="Re-enter password" required type="password">
                </div>
                <div class="d-grid pt-4">
                    <button [disabled]="form.invalid || form.untouched" class="btn btn-primary" type="submit">Set
                        password
                    </button>
                </div>
            </form>
        </ng-container>
    </ng-container>

</ng-template>
<ng-template #invalidToken>
    Token is invalid or expired
</ng-template>
<ng-template #already_authorized>
    You are already authorized, so change password will not work
</ng-template>
