@import "_colors";

:host {
    .card {
        border: 1px solid $blue-50;
    }
}
.clipboard {
    cursor: pointer;
    padding: 0 1px 0 2px;
}

.form {
    display: flex;
    flex-direction: column;

    .accordion {
        margin-top: 16px;
    }
}
