<ng-container
        *ngTemplateOutlet="asyncTemplate; context:{
            data: data$ | async
        }">
</ng-container>
<ng-template #asyncTemplate let-data="data">
    <form [formGroup]="form">
        <div class="d-flex justify-content-between">
            <a routerLink="../">Cancel</a>
            <button (click)="update()" [disabled]="form.invalid || form.pristine">Save</button>
        </div>
        <div>
            <label for="title">Title</label>
            <input formControlName="title" id="title" type="text">
        </div>
        <div>
            <label class="form-label" for="audioDetails">Audio details</label>
            <textarea class="form-control-lg form-control" formControlName="audioDetails" id="audioDetails"></textarea>
        </div>
        <div>
            <label class="form-label" for="captionDispDetails">Caption Display Details</label>
            <textarea class="form-control-lg form-control" formControlName="captionDispDetails"
                      id="captionDispDetails"></textarea>
        </div>
        <cwb-timezone-selector formControlName="timeZoneOverride"></cwb-timezone-selector>
        <div>
            <label class="form-label" for="viewerEmails">Authorized viewers</label>
            <cwb-viewers-list formControlName="viewerEmails" id="viewerEmails"></cwb-viewers-list>
        </div>

    </form>
</ng-template>
