<ng-container
        *ngTemplateOutlet="asyncTemplate; context:{
            data: data$ | async
        }">
</ng-container>
<ng-template #asyncTemplate let-data="data">
    <form [formGroup]="form">
        <div class="d-flex justify-content-between align-items-center">
            <h2>Edit booking details</h2>
            <div class="d-flex">
                <a class="btn btn-sm text-primary" routerLink="../">Cancel</a>
                <button (click)="update()" [disabled]="form.invalid || form.pristine" class="btn btn-primary btn-sm">
                    <cwb-icon name="save"></cwb-icon>
                    Save
                </button>
            </div>
        </div>
        <div>
            <label class="form-label" for="title">Title</label>
            <input class="form-control form-control-lg" formControlName="title" id="title" type="text">
        </div>
        <div>
            <label class="form-label" for="audioDetails">Audio details</label>
            <textarea class="form-control-lg form-control" formControlName="audioDetails" id="audioDetails"></textarea>
        </div>
        <div>
            <label class="form-label" for="captionDispDetails">Caption Display Details</label>
            <textarea class="form-control-lg form-control" formControlName="captionDispDetails"
                      id="captionDispDetails"></textarea>
        </div>
        <cwb-timezone-selector formControlName="timeZoneOverride"></cwb-timezone-selector>
        <div>
            <input class="form-check-input" formControlName="authorizedViewersOnly" id="authorizedViewersOnly" type="checkbox" style="margin-right: 10px;" (click)="switchAuthorizedViewerBool()">
            <label class="form-label" for="authorizedViewersOnly">Only allow these authorised viewers:</label>
        </div>
        <ng-container *ngIf="authorizedViewersOnlyChecked">
            <div>
                <label class="form-label" for="viewerEmails">List of emails for authorised viewers (separated by linebreaks)</label>
                <cwb-viewers-list formControlName="viewerEmails" id="viewerEmails"></cwb-viewers-list>
            </div>
        </ng-container>
        <div>
            <input class="form-check-input" formControlName="requireLogin" id="requireLogin" type="checkbox" style="margin-right: 10px;">
            <label class="form-label" for="requireLogin">Require viewer has a CaptionWorks login</label>
        </div>
        <div>
            <input class="form-check-input" formControlName="requirePasscode" id="requirePasscode" type="checkbox" style="margin-right: 10px;">
            <label class="form-label" for="requirePasscode">Require passcode to view (no public access)</label>
        </div>
        
        <textarea readonly class="form-control-lg form-control" formControlName="bookingPasscode" id="bookingPasscode"></textarea>
            
    </form>
</ng-template>
