<header>
    <cwb-header></cwb-header>
</header>

<ng-container [ngSwitch]="isAuthorized$ | async">
    <ng-container *ngSwitchCase="true" class="container">
        <main [class.bg-white]="pageHasSimpleLayout$ | async">
            <div class="container">
                <router-outlet></router-outlet>
            </div>
        </main>
    </ng-container>
    <ng-container *ngSwitchDefault class="container d-flex flex-column justify-content-center">
        <main class="bg-white">
            <div class="container d-flex flex-column justify-content-center" style="height: 100%;">
                <cwb-login></cwb-login>
            </div>
        </main>
    </ng-container>
</ng-container>

<cwb-footer></cwb-footer>
