@import "_colors";

main {
	height: calc(100vh - 65px - 42px);
	overflow-x: hidden;
	overflow-y: auto;
	justify-content: space-between;
	background: $gray-20;
	border-bottom: 1px solid #DDDDDD;
	padding: 28px 32px;

	&::-webkit-scrollbar {
		width:  12px;
		height: 4px;
	}

	&::-webkit-scrollbar-thumb {
		background: silver;
	}

	&::-webkit-scrollbar-track {
		background: #DDDDDD;
	}
}
