<header>
    <cwb-header></cwb-header>
</header>

<ng-container [ngSwitch]="isAuthorized$ | async">
    <ng-container *ngSwitchCase="true">
        <main [class.bg-white]="pageHasSimpleLayout$ | async">
            <router-outlet></router-outlet>
        </main>
    </ng-container>
    <ng-container *ngSwitchDefault class="flex flex-column justify-content-center">
        <main class="flex col j-c-c h-100">
            <cwb-login></cwb-login>
        </main>
    </ng-container>
</ng-container>

<cw-footer></cw-footer>
