<ng-container
        *ngTemplateOutlet="asyncTemplate; context:{
            disableNext: disableNext$ | async,
            step:getStep()
        }">
</ng-container>
<ng-template #asyncTemplate let-disabledNext="disableNext" let-s=step>
    <div style="width:680px;margin: 0 auto;">
        <h1 class="display-6">
            Create new booking
        </h1>
        <cwb-step-title></cwb-step-title>
        <ng-container [ngSwitch]="s">
            <cwb-general-booking-information *ngSwitchCase="1"></cwb-general-booking-information>
            <cwb-in-out-booking-information *ngSwitchCase="2"></cwb-in-out-booking-information>
            <cwb-booking-details *ngSwitchCase="3"></cwb-booking-details>
        </ng-container>
        <div [class.justify-content-between]="s!==1" [class.justify-content-end]="s===1" class="d-flex pt-4">
            <button (click)="back()" *ngIf="s>1" class="btn btn-secondary">Back</button>
            <button (click)="next()" *ngIf="s<3" [disabled]="disabledNext" class="btn btn-primary">Next</button>
            <button (click)="save()" *ngIf="s===3" [disabled]="disabledNext" class="btn-primary btn">Save</button>
        </div>
    </div>
</ng-template>

