<div class="modal-header">
    <h1 class="modal-title">{{title}}</h1>
</div>

<div class="modal-body">
    {{text}}
</div>
<div class="modal-footer flex justify-content-between">
     <button (click)="cancel()" class="btn btn-secondary">{{cancelText}}</button>
    <!-- This button is currently only being used as an alert dialog -->
    <!-- (in payment-component.ts) so it really doesn't need a Cancel button -->
    <!-- which is why this is commented out -->
    <button (click)="confirm()" class="btn btn-primary">{{confirmText}}</button>
</div>
