<ng-container *ngIf="(data$ | async) as data else logo">
	<div
		*ngIf="data.length > 1; else logo"
		class="flex row gap j-c-c a-i-c"
	>
		<cw-small-button
			routerLink="../"
			buttonText="Back"
			icon="chevron-left"
			[inverted]="true"
		></cw-small-button>

		<nav
			class="breadcrumb flex row gap j-c-c a-i-c"
			aria-label="breadcrumb"
		>
			<ng-container *ngFor="let item of data; let last=last">
                <span
                    *ngIf="last; else link"
                    class="breadcrumb-item active"
                >
                    {{item.title}}
                </span>
				<ng-template #link>
                    <span class="breadcrumb-item">
                        <a [routerLink]="item.path">
	                        {{item.title}}
                        </a>
                    </span>
					<span>/</span>
				</ng-template>
			</ng-container>
		</nav>
	</div>
</ng-container>
<ng-template #logo>
	<div class="flex col a-i-c logo">
		<img
			[routerLink]="''"
			alt="CaptionWorks"
			height="48"
			src="../../../../../assets/logo.svg" width="172"
		/>
	</div>
</ng-template>
