<form [formGroup]="form">
    <div>
        <label class="form-label" for="audioDetails">Tell us how the captioner can hear the audio of the session. Typically this is the login details for a Zoom or Teams meeting, etc. Otherwise, the viewer can share their audio directly from the CaptionWorks viewer.</label>
        <textarea class="form-control form-control-lg" formControlName="audioDetails" id="audioDetails"></textarea>
    </div>
    <div>
        <label class="form-label" for="captionDispDetails">Where would you like your captions displayed?</label>
        <textarea readonly class="form-control form-control-lg" formControlName="captionDispDetails" id="captionDispDetails"></textarea>
    </div>
</form>
