<cwb-page-top>
    <cwb-button-header>
        <h3>Bookings</h3>
        <cw-svg-icon (click)="reload()" [independent]="true" [svg]="'refresh'"></cw-svg-icon>
    </cwb-button-header>
    <cw-button
      routerLink="create"
      buttonText="Add new booking"
    ></cw-button>
</cwb-page-top>

<cwb-card *ngIf="(bookings$ | async); else empty">
    <cwb-smart-table
        [source]="(bookings$ | async) || []"
        [columns]="columnsConfig"
        (reloadPaginator)="reload()"
    ></cwb-smart-table>
</cwb-card>

<ng-template #empty>
    <span> You have no bookings yet. Click on "Add new booking" to make your first booking.</span>
</ng-template>
