<router-outlet></router-outlet>
<footer class="d-flex justify-content-between">
    <div>
        &copy; All rights reserved, CaptionWorks Pty Ltd
    </div>
    <div>
        <ul class="nav">
            <li class="nav-item">
                <a class="nav-link" href="#">Website Terms of Use</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Privacy policy</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">About us</a>
            </li>
            <li class="nav-item">
                <a class="nav-link">Contact us</a>
            </li>
        </ul>
    </div>
</footer>
<cwb-error></cwb-error>
