:host {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	height: 100%;
}

::ng-deep {
	.card {
		margin-bottom: unset;
	}
}

.success {
	display: flex;
	justify-content: center;
}

.pointer {
	cursor: pointer;
}

.paginator {
	margin-top: 14px;
	display: flex;
	flex-direction: row;
	gap: 32px;

	.page-button {
		color: rgb(58, 142, 247);
		border-radius: 4px;
		min-height: 42px;
		min-width: 42px;
		text-align: center;

		&.current {
			background: rgb(235, 247, 255)
		}
	}
}
