<div [formGroup]="timeZoneForm" class="flex row gap gap-16 w-100">
    <div class="w-100 flex col">
        <label for="region">Country</label>
        <ng-select
          [clearable]="false"
          [items]="$any(timezones)"
          [notFoundText]="'Loading regions...'"
          (change)="markAsTouched()"
          formControlName="region"
          appendTo="body"
          bindLabel="region"
          class="select region"
          id="region"
          placeholder="Region"
        ></ng-select>
    </div>

    <div class="w-100 flex col" *ngIf="timeZoneForm.get('region')?.value as chosenRegion">
        <label for="city">City</label>
        <ng-select
          [items]="chosenRegion.cities"
          [clearable]="false"
          (change)="markAsTouched()"
          formControlName="city"
          appendTo="body"
          class="select city"
          id="city"
          placeholder="City"
        ></ng-select>
    </div>
</div>
