<ng-container
        *ngTemplateOutlet="asyncTemplate; context:{
            isLoggedIn: isLoggedIn$ | async
        }">
</ng-container>
<ng-template #asyncTemplate let-isLoggedIn="isLoggedIn">
    <div class="navbar shadow-sm navbar-light">
        <div class="container-fluid">
            <ng-container *ngIf="isLoggedIn; else unauthorized_logo">
                <cwb-bread-crumbs></cwb-bread-crumbs>
                <cwb-menu></cwb-menu>
            </ng-container>
            <div
                *ngIf="isLoggedIn; else unauthorized"
                class="d-flex justify-content-between"
                style="gap: 28px"
            >
                <cwb-user-info></cwb-user-info>
                <cwb-logout-button></cwb-logout-button>
            </div>
        </div>
    </div>
    <ng-template #unauthorized_logo>
        <a [routerLink]="''" class="navbar-brand" href="#">
            <img alt="CaptionWorks"  height="48" src="../../../assets/logo.svg" width="172">
        </a>
    </ng-template>
    <ng-template #unauthorized>
        <div *ngIf="!isAdmin" class="d-flex justify-content-between" style="width:300px;">
            <span class="navbar-text">Not a member yet?</span>
            <a class="btn btn-sm btn-primary" routerLink="../../../sign-up">Get started</a>
        </div>
    </ng-template>

</ng-template>
