<ng-container
        *ngTemplateOutlet="asyncTemplate; context:{
            isLoggedIn: isLoggedIn$ | async
        }">
</ng-container>
<ng-template #asyncTemplate let-isLoggedIn="isLoggedIn">
    <div class="navbar shadow-sm">
        <div class="container-fluid">
            <cwb-bread-crumbs></cwb-bread-crumbs>
            <cwb-menu *ngIf="isLoggedIn"></cwb-menu>
            <div *ngIf="isLoggedIn; else unauthorized" class="d-flex justify-content-between" style="width:260px">
                <cwb-user-info></cwb-user-info>
                <cwb-logout-button></cwb-logout-button>
            </div>
        </div>
    </div>
    <ng-template #unauthorized>
        <ng-container *ngIf="!isAdmin">
            <span class="navbar-text">Not  a member yet?</span>
            <a class="btn btn-sm btn-primary" routerLink="../../../sign-up">Get started</a>
        </ng-container>
    </ng-template>

</ng-template>
