@import "colors-10";

.custom-table {
	display: flex;
	flex-direction: column;
	height: 100%;
	justify-content: space-between;
}

ng2-smart-table {
	table {
		thead {
			background: $gray-20;
			border-bottom: 1px solid $gray-30;

			.ng2-smart-sort,
			.ng2-smart-sort-link.sort {
				color: $blue-50;
				font-weight: 500;
				font-size: 14px;
				line-height: 24px;
				text-decoration: none;
			}
			.ng2-smart-sort {
				color: $gray-80;
			}
		}

		tbody {
			.ng2-smart-row {
				&.selected {
					background: $blue-10 !important;
				}

				&:not(:last-of-type) {
					border-bottom: 1px solid $gray-30;
				}
			}

			td {
				color: $gray-90;
			}
		}
	}

	ng2-smart-table-pager {
		ul.ng2-smart-pagination {
			display: flex;
			font-size: 16px;
			gap: 32px;
			margin-bottom: 0;

			li.ng2-smart-page-item {
				user-select: none;

				a {
					text-decoration: none;
				}

				&.disabled {
					a {
						background: $gray-20;
					}
				}

				&.active {
					span {
						background: $blue-10;
						color: $blue-50;
					}
				}

				.page-link {
					align-items: center;
					border: none;
					color: $blue-50;
					display: flex;
					flex-direction: column;
					font-size: 16px;
					font-weight: 600;
					height: 44px;
					justify-content: center;
					text-align: center;
					width: 44px;
				}

				.page-link-prev,
				.page-link-next {
					span {
						display: none;
					}
				}

				.page-link-prev {
					&:after {
						content: url("../../../../assets/chevron-left.svg");
						margin-top: 7px;
					}
				}

				.page-link-next {
					&:after {
						content: url("../../../../assets/chevron-right.svg");
						margin-top: 7px;
					}
				}
			}
		}
	}
}
