<ng2-smart-table
	(rowSelect)="loadData()"
	(userRowSelect)="rowClicked.emit($event)"
	[ref]="paginator"
	[settings]="{
		columns,
		actions: {
			delete: false,
			edit: false,
			add: false
		},
		pager: {
			perPageSelect: true,
			perPage: perPage,
			display: displayPager
		}
	}"
	[source]="source"
	class="custom-table"
	cwbSmartTablePaginator
>
</ng2-smart-table>

<select
		class="selector"
		#paginator
		[(ngModel)]="perPage"
		(ngModelChange)="reloadPaginator.emit()"
		[hidden]="true"
>
	<option
		*ngFor="let pagesPer of paginatorData"
		[ngValue]="pagesPer"
		[selected]="perPage === pagesPer"
	>
		{{pagesPer}}
	</option>
</select>
