@import "_colors";

%column {
	display: flex;
	flex-flow: column nowrap;
}

%border {
	border-bottom: 1px solid $gray-30;
}

.custom-table {
	@extend %column;
	height: 100%;
	justify-content: space-between;
}

cwb-smart-table {
	height: 100%;
}

ng2-smart-table {
	font-size: unset !important;

	table {
		thead {
			@extend %border;
			background: $gray-20;

			select {
				height: 28px;
				outline: none;
				border-radius: 8px;
				padding: 4px !important;
				border: 1px solid #adc8ff;
				box-shadow: inset 0 1px 2px rgb(0 0 0 / 8%);
				background: white;
				color: gray !important;
			}

			.ng2-smart-sort-link {
				&.sort {
					text-decoration: none;
					color: $gray-80;
					font-size: 14px;
					font-weight: 600;
					line-height: 24px;

					&:hover {
						color: $blue-50;
					}
				}
			}

			.ng2-smart-sort {
				color: $gray-80;
			}


			.ng2-smart-title {
				text-align: left;
			}
		}

		tbody {
			.ng2-smart-row {
				&.selected {
					background: $blue-10 !important;
				}

				&:not(:last-of-type) {
					@extend %border;
				}
			}

			tr {
				height: 117px;
			}

			td {
				font-weight: 400;
				font-size: 20px !important;
				line-height: 24px;
				color: $gray-90;
			}
		}
	}

	ng2-smart-table-pager {
		ul.ng2-smart-pagination {
			line-height: 24px;
			gap: 32px;
			margin: 0;

			li.ng2-smart-page-item {
				a {
					text-decoration: none;
				}

				&.disabled {
					a {
						background: $gray-20;
					}
				}

				&.active {
					span {
						background: $blue-10;
						color: $blue-50;
					}
				}

				.page-link {
					@extend %column;
					align-items: center;
					border: none;
					color: $blue-50;
					font-size: 16px;
					font-weight: 600;
					height: 44px;
					justify-content: center;
					text-align: center;
					width: 44px;
				}

				.page-link-prev {
					span {
						display: none;
					}

					&:after {
						content: url("../../../../assets/chevron-left.svg");
						margin-top: 7px;
					}
				}

				.page-link-next {
					span {
						display: none;
					}

					&:after {
						content: url("../../../../assets/chevron-right.svg");
						margin-top: 7px;
					}
				}
			}
		}
	}
}
