@use '@angular/material' as mat;
@include mat.core();
@import '_colors';
@import '@fontsource/inter/variable-full.css';
@import "~@ng-select/ng-select/scss/default.theme";

body {
  font-family: "Inter-Variable", sans-serif;
}

@supports (font-variation-settings: normal) {
  body {
    font-family: "InterVariable", sans-serif;
  }
}

cwb-root {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 1;
  height: 100vh;
  width: 100vw;
}

cwb-booking-page,
cwb-bookings-page,
cwb-users-page,
cwb-sessions-page,
cwb-account-settings-page {
  display: flex;
  flex-direction: column;
  flex: 1;
}

router-outlet {
  display: none;
}

.mat-snack-bar-container {
  background: white;
  border: 1px solid silver;
}
