@import '_colors';
@import '@fontsource/inter/variable.css';
@import "~@ng-select/ng-select/themes/default.theme.css";

body {
  font-family: "Inter-Variable", sans-serif;
  margin: 0;
  height: 100vh;
  min-width: 100%;
  max-width: 100%;
  width: 100vw;
  min-height: 100%;
  max-height: 100%;
  overflow: hidden;
}

@supports (font-variation-settings: normal) {
  body {
    font-family: "InterVariable", sans-serif;
  }
}

router-outlet {
  display: none;
}
