@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');
@import "scss/_colors";
@import '@fontsource/inter/variable-full.css';

body {
  font-family: "Inter-Variable", sans-serif;
}

:root {
  font-size: 16px;
}

body, html {
  height: 100%;
}

cwb-root {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
}

cwb-main,
cwb-simple-layout {
  height: 100%;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

cwb-booking-page,
cwb-bookings-page,
cwb-users-page,
cwb-sessions-page,
cwb-account-settings-page {
  display: flex;
  flex-direction: column;
  flex: 1;
}

main {
  background-color: $grey-200;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: flex-start;
  align-items: stretch;
}

.container {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.modal-dialog {
  @media (min-width: 1024px) {
    max-width: 80%;
  }
}

* {
  user-select: none;
}

$blue: $blue-500;
$secondary: $blue-100;
$light: $grey-200;
@import "node_modules/bootstrap/scss/functions";
@import "scss/vars";
@import "../node_modules/bootstrap/scss/variables";
@import "../node_modules/bootstrap/scss/mixins";
@import "../node_modules/bootstrap/scss/root";

@import "../node_modules/bootstrap/scss/utilities";
@import "../node_modules/bootstrap/scss/reboot";
@import "../node_modules/bootstrap/scss/type";
@import "../node_modules/bootstrap/scss/images";
@import "../node_modules/bootstrap/scss/containers";
@import "../node_modules/bootstrap/scss/grid";
@import "../node_modules/bootstrap/scss/helpers";
@import "../node_modules/bootstrap/scss/utilities/api";

@import "../node_modules/bootstrap/scss/nav";
@import "../node_modules/bootstrap/scss/forms";
@import "../node_modules/bootstrap/scss/buttons";
@import "../node_modules/bootstrap/scss/navbar";
@import "../node_modules/bootstrap/scss/tables";
@import "../node_modules/bootstrap/scss/card";
@import "../node_modules/bootstrap/scss/modal";
@import "../node_modules/bootstrap/scss/breadcrumb";
@import "../node_modules/bootstrap/scss/badge";

@import '~bootstrap/scss/bootstrap';
