$blue-50: #F6FBFF;
$blue-100: #EBF7FF;
$blue-200: #C8E7FE;
$blue-500: #3A8EF7;

$grey-200: #F5F5F5;
$grey-300: #DDDDDD;
$grey-500: #9E9E9E;
$grey-600: #7E7E7E;
$grey-700: #5F5F5F;
$grey-800: #3F3F3F;
$grey-900: #000408;
