$enable-shadows: true;
$enable-rounded: true;
$body-bg: white;
$font-family-base: 'Inter', sans-serif;

$spacer: 1rem;
$spacers: (
        0: 0,
        1: $spacer * .25,
        2: $spacer * .5,
        3: $spacer,
        4: $spacer * 1.5,
        5: $spacer * 3,
);

//$font-size-base: 1.0625rem;
$font-size-base: 1.0625rem;
$font-size-sm: 0.875rem;
$font-size-lg: 1.25rem;
$small-font-size: 0.75rem;

$font-weight-light: 400;
$font-weight-normal: 500;
$font-weight-bold: 600;
$font-weight-bolder: 700;

$headings-color: $grey-900;

$h1-font-size: 24px;
$h2-font-size: 20px;
$headings-font-weight: $font-weight-bold;
$display-font-weight: $font-weight-bolder;
$headings-line-height: 1.5;
$headings-margin-bottom: 0;

$border-radius: 8px;
$border-color: $grey-300;
$text-muted: $grey-700;

// Links
//
// Style anchor elements.

//$link-color:                              $primary !default;
$link-decoration: none;
//$link-shade-percentage:                   20% !default;
//$link-hover-color:                        shift-color($link-color, $link-shade-percentage) !default;
$link-hover-decoration: underline;

$input-btn-padding-x: 1rem;
$input-btn-padding-y: 1rem;

$input-btn-padding-x-sm: 0.5rem;
$input-btn-padding-y-sm: 0.5rem;
$input-btn-focus-box-shadow: null;

$btn-line-height: 24px;
$btn-border-radius-sm: $border-radius;
$btn-font-weight: $font-weight-bold;
$btn-font-size-sm: $font-size-base;

// scss-docs-start form-input-variables
//$input-padding-y:                       $input-btn-padding-y !default;
//$input-padding-x:                       $input-btn-padding-x !default;
//$input-font-family:                     $input-btn-font-family !default;
$input-font-size: $font-size-lg;
//$input-font-weight:                     $font-weight-base !default;
//$input-line-height:                     $input-btn-line-height !default;
//
//$input-padding-y-sm:                    $input-btn-padding-y-sm !default;
//$input-padding-x-sm:                    $input-btn-padding-x-sm !default;
//$input-font-size-sm:                    $input-btn-font-size-sm !default;
//
//$input-padding-y-lg:                    $input-btn-padding-y-lg !default;
//$input-padding-x-lg:                    $input-btn-padding-x-lg !default;
//$input-font-size-lg:                    $input-btn-font-size-lg !default;
//
$input-bg: white;
//$input-disabled-bg:                     $gray-200 !default;
//$input-disabled-border-color:           null !default;
//
$input-color: $grey-800;
$input-border-color: $blue-200;
//$input-border-width:                    $input-btn-border-width !default;
//$input-box-shadow:                      $box-shadow-inset !default;
//
//$input-border-radius:                   $border-radius !default;
//$input-border-radius-sm:                $border-radius-sm !default;
//$input-border-radius-lg:                $border-radius-lg !default;
//
//$input-focus-bg:                        $input-bg !default;
//$input-focus-border-color:              tint-color($component-active-bg, 50%) !default;
//$input-focus-color:                     $input-color !default;
//$input-focus-width:                     $input-btn-focus-width !default;
//$input-focus-box-shadow:                $input-btn-focus-box-shadow !default;
//
$input-placeholder-color: $grey-500;
//$input-plaintext-color:                 $body-color !default;
//
//$input-height-border:                   $input-border-width * 2 !default;
//
//$input-height-inner:                    add($input-line-height * 1em, $input-padding-y * 2) !default;
//$input-height-inner-half:               add($input-line-height * .5em, $input-padding-y) !default;
//$input-height-inner-quarter:            add($input-line-height * .25em, $input-padding-y * .5) !default;
//
//$input-height:                          add($input-line-height * 1em, add($input-padding-y * 2, $input-height-border, false)) !default;
//$input-height-sm:                       add($input-line-height * 1em, add($input-padding-y-sm * 2, $input-height-border, false)) !default;
//$input-height-lg:                       add($input-line-height * 1em, add($input-padding-y-lg * 2, $input-height-border, false)) !default;
//
//$input-transition:                      border-color .15s ease-in-out, box-shadow .15s ease-in-out !default;


$form-select-bg: white;
$form-check-input-checked-color: $blue-500;
$form-check-input-checked-bg-image: url("data:image/svg+xml,<svg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'><rect x='2' y='2' width='20' height='20' rx='2' stroke='#{$form-check-input-checked-color}' stroke-width='1.5'/><rect x='6' y='6' width='12' height='12' rx='2' fill='#{$form-check-input-checked-color}'/></svg>");


$form-label-margin-bottom: 0.25rem;
$form-label-font-size: 12px;
//$form-label-font-style:                 null !default;
$form-label-font-weight: $font-weight-bold;
$form-label-color: $grey-600;
$input-plaintext-color: $grey-800;

$navbar-padding-y: 12px;

$card-bg: $body-bg;
$card-border-color: $card-bg;
$card-box-shadow: 0px 2px 4px 2px rgba(107, 107, 107, 0.04), 0px 4px 6px 4px rgba(68, 68, 68, 0.04);
$card-spacer-y: 16px;
$card-spacer-x: 12px;

//$table-bg: $card-bg;
$table-cell-padding-x: 0.75rem;
$table-cell-padding-y: 1.5rem;
//$table-cell-padding-y-sm:     .25rem !default;
//$table-cell-padding-x-sm:     .25rem !default;
//
//$table-cell-vertical-align:   top !default;
//
//$table-color:                 $body-color !default;
//$table-bg:                    transparent !default;
//$table-accent-bg:             transparent !default;
//
$table-th-font-weight: $font-weight-normal;
//
//$table-striped-color:         $table-color !default;
//$table-striped-bg-factor:     .05 !default;
//$table-striped-bg:            rgba($black, $table-striped-bg-factor) !default;
//
//$table-active-color:          $table-color !default;
//$table-active-bg-factor:      .1 !default;
//$table-active-bg:             rgba($black, $table-active-bg-factor) !default;
//
//$table-hover-color:           $table-color !default;
//$table-hover-bg-factor:       .075 !default;
//$table-hover-bg:              rgba($black, $table-hover-bg-factor) !default;
//
//$table-border-factor:         .1 !default;
//$table-border-width:          $border-width !default;
$table-border-color: $grey-200;
//
//$table-striped-order:         odd !default;
//
//$table-group-separator-color: currentColor !default;
//
//$table-caption-color:         $text-muted !default;
//
//$table-bg-scale:              -80% !default;
