@import "colors-10";

$font-family-base: 'Inter', sans-serif;

$spacer: 1rem;
$spacers: (
        0: 0,
        1: $spacer * .25,
        2: $spacer * .5,
        3: $spacer,
        4: $spacer * 1.5,
        5: $spacer * 3,
);

$font-size-base: 1.0625rem;
$font-size-sm: 0.875rem;
$font-size-lg: 1.25rem;
$small-font-size: 0.75rem;

$font-weight-light: 400;
$font-weight-normal: 500;
$font-weight-bold: 600;
$font-weight-bolder: 700;

$headings-color: $gray-90;

$h1-font-size: 24px;
$h2-font-size: 20px;
$headings-font-weight: $font-weight-bold;
$display-font-weight: $font-weight-bolder;
$headings-line-height: 1.5;
$headings-margin-bottom: 0;

$border-radius: 8px;
$border-color: $gray-30;

$link-decoration: none;
$link-hover-decoration: underline;

$input-btn-padding-x: 1rem;
$input-btn-padding-y: 1rem;
$input-btn-padding-x-sm: 0.5rem;
$input-btn-padding-y-sm: 0.5rem;
$input-btn-focus-box-shadow: null;
$input-font-size: $font-size-lg;
$input-bg: white;
$input-color: $gray-80;
$input-border-color: $blue-20;
$input-placeholder-color: $gray-50;
$input-plaintext-color: $gray-80;

$btn-line-height: 24px;
$btn-border-radius-sm: $border-radius;
$btn-font-weight: $font-weight-bold;
$btn-font-size-sm: $font-size-base;
$btn-padding-x-sm: 1rem;
$btn-padding-y-sm: 0.5rem;

$form-select-bg: white;
$form-check-input-checked-color: $blue-50;
$form-check-input-checked-bg-image: url("data:image/svg+xml,<svg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'><rect x='2' y='2' width='20' height='20' rx='2' stroke='#{$form-check-input-checked-color}' stroke-width='1.5'/><rect x='6' y='6' width='12' height='12' rx='2' fill='#{$form-check-input-checked-color}'/></svg>");

$form-label-margin-bottom: 0.25rem;
$form-label-font-size: 12px;
$form-label-font-weight: $font-weight-bold;
$form-label-color: $gray-60;

$navbar-padding-y: 12px;
$navbar-light-color: $gray-60;
$navbar-brand-height: 3rem;

$nav-pills-link-active-color: $blue-50;
$nav-pills-link-active-bg: $blue-50;

$breadcrumb-margin-bottom: 0;

$card-bg: $white;
$card-border-color: $card-bg;
$card-box-shadow: 0px 2px 4px 2px rgba(107, 107, 107, 0.04), 0px 4px 6px 4px rgba(68, 68, 68, 0.04);
$card-spacer-y: 1rem;
$card-spacer-x: 12px;
